<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">

      body { background-color: #2574b0; }


    </style>
  </head>
  <body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ data.title }} {{ data.stars }} ★</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" data-test="logo" href="/">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" data-test="navigation">
          {% for departure in departures.items %}
            <li class="nav-item active">
            <a class="nav-link" href="/departure/{{ departure.0 }}" data-test="navlink">{{ departure.1 }} </a>
          {% endfor %}
        </ul>
      </div>
    </nav>


    <h1 class="display-3 mt-4" data-test="title">{{ data.title }} {{ data.stars }} ★</h1>

    <!-- HERO -->

    <p class="lead" data-test="lead"><span data-test="country">{{ data.Country }}</span><span data-text="departure">{{ dep }}</span> <span data-text="nights">{{ data.nights }}</span> ночей</p>
    <img data-test="picture" src="{{ data.picture }}">
    <p class="my-4 w-75" data-test="description">{{ data.description }}</p>

    <a href="" class="btn btn-success btn-lg" data-test="buybutton">Купить тур за <span data-test="price">{{ data.price }}</span></a>
</div>

</body>
</html>
  </body>
</html>